
<ion-content class="bgLight">

    <ion-toolbar class="bgLight height100"> 
      
     
            <p class="darkGreenTxt userFont">{{username}}</p>
            <button class="profBtn" slot="end"  routerLink="/userprof" >
             <ion-icon class="icons" name="person-circle-sharp"></ion-icon>
            </button>
         

    </ion-toolbar>
  
    

    <div >
      <ion-card lines="none" class="margin10" color="#216353" id="darkGreen" routerLink="/companies">
        <img class="hpIcon" src="assets/putikLogo.png"/>
        <p class="btnText fontWhite" style="margin-right: 10px;">Waste Collection Companies</p>
      </ion-card>
  
      <ion-card lines="none" class="margin10" color="#75DAAD" id="lightGreen" routerLink="/map">
        <img class="hpIcon2" src="assets/ping.png"/>
        <p class="btnText2 fontWhite">Dumpsite & Recycle Drop-Offs</p>
        
      </ion-card>

      <ion-card *ngIf="isAdmin" class="margin10" lines="none" color="#216353" id="adminBtn" routerLink="/admin-home">
        <p class="btnText3 fontWhite">Administrator Mode</p>
      </ion-card>

    </div>

  <ion-button *ngIf="loggedIn" shape="round" mode="ios" class="logoutBtn" (click)="logOut()">
    Log Out
  </ion-button>
  <ion-button *ngIf="!loggedIn" shape="round" mode="ios" class="logInBtn" (click)="logIn()">
    Log In
  </ion-button>
 
  

</ion-content>
<div style="background-color: #216353;" *ngIf="!hasVerifiedEmail">
  <p class="margin60">Please check your email and verify your account</p>

  <ion-button shape="round" mode="ios" class="logoutBtn" (click)="sendVerificationEmail()" class="marginBtn">
   Send Verification Email
  </ion-button>

  <ion-button shape="round" mode="ios" class="logoutBtn" (click)="refreshPage()" class="marginBtn">
    Refresh
   </ion-button>
</div>




