
<ion-content class="bgLight">

  


    <ion-toolbar class="bgLight height100">

      <ion-title class="darkGreenTxt">homepage</ion-title>


    </ion-toolbar>
  
  <!-- <div id="darkGreen" href="/companies">

    <img src="D:\Ddrive\xampp\htdocs\putik\src\assets\calendar.png" alt=""> 
    <p class="btnText">Waste Collection Companies</p>

  </div>
  
  <div id="lightGreen">
    
   <ion-label class="btnText2">Dumpsite & Recycle Drop-Offs</ion-label> 
    <p class="btnText2">Dumpsite & Recycle Drop-Offs</p>

  </div>
  
  <div id="darkGreen">
     <img class="hpIcon" src="assets/calendar.png" alt="">
    <p class="btnText">Waste Collection Schedules</p>
    

  </div>
  
  <div id="lightGreen">

    <p class="btnText2">Live Chat Support</p>

  </div> -->
  
  <!-- <ion-list> -->
    <ion-item color="#216353" id="darkGreen" href="/companies">
      <p class="btnText">Waste Collection Companies</p>
    </ion-item>

    <ion-item color="#75DAAD" id="lightGreen" href="/locations">
      <p class="btnText2">Dumpsite & Recycle Drop-Offs</p>
    </ion-item>

    <ion-item color="#216353" id="darkGreen" href="/schedule">
     
     
      <p class="btnText">Waste Collection Schedules </p>

<!--      
      <ion-thumbnail class="tn" slot="end">
        <img class="hpIcon" src="assets/calendar.png"/>
      </ion-thumbnail>
       -->
      
    </ion-item>

    <ion-item color="#75DAAD" id="lightGreen">
      <p class="btnText2">Live Chat Support System</p>
    </ion-item>
  <!-- </ion-list>   -->


</ion-content>





