<ion-content class="bg">
  
  <div style="text-align: center;">
    <p style="font-size: 31px; font-weight: 300; color: #EDFFEA;">Edit Profile</p>
    <ion-icon name="person-circle-sharp" id="avatar"></ion-icon>
    <p class="darkFont" style="font-size: 18px;"><b>Change Profile Photo</b></p>
  </div>  
  <div class="darkFont" style="font-size: 16px; padding-left: 50px; padding-right: 50px;">
    <p style="border-bottom: 1px solid #216353;"><b>Full Name: </b>Hj Ali</p>  
    <p style="border-bottom: 1px solid #216353;"><b>Username: </b>@Hj.Ali</p>  
    <p style="border-bottom: 1px solid #216353;"><b>IC Number: </b> 00-123444</p>  
    <p style="border-bottom: 1px solid #216353;"><b>Phone No: </b>+673 8868864</p>  
    <p style="border-bottom: 1px solid #216353;"><b>Address: </b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt temporibus eveniet ipsam explicabo quidem minus voluptas quam maxime earum voluptate.</p>  
  </div>

  <p style="text-align: left; font-size: 20px; padding-left: 20px;" class="darkFont">Personal Information</p>  
  
  <div class="darkFont" style="font-size: 16px; padding-left: 50px; padding-right: 50px;">  
    <p style="border-bottom: 1px solid #216353;"><b>Email: </b>hj.ali@email.com</p>
    <p style="border-bottom: 1px solid #216353;"><b>Phone Number: </b>+673 8868864</p>
  </div>

  <!-- <div style="display: flex;">
    <ion-button id="cancelBtn">Cancel</ion-button>
    <ion-button id="saveBtn">Save</ion-button>
  </div> -->

  <ion-grid style="text-align: center;">
    <ion-row>
      <ion-col><ion-button id="cancelBtn">Cancel</ion-button></ion-col>
      <ion-col><ion-button id="saveBtn">Save</ion-button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
