<ion-toolbar mode="md" class="bgLight">

  <img class="hpIcon" src="assets/putikLogo.png" routerLink="/admin-home"/>
 
  <ion-button style="float: right;" class="logoutBtn" shape="round" mode="ios" class="logoutBtn" (click)="logout()">
    Log Out
  </ion-button>
  <button class="darkFont headerText"></button>
  <button class="darkFont headerText" routerLink="/homepage">BACK TO PUTIK</button>
  <button class="darkFont headerText" routerLink="/admin-comps">MANAGE COMPANIES</button>
  <button class="darkFont headerText" routerLink="/admin-home">HOMEPAGE </button>
  
  
</ion-toolbar>



<ion-content class="bgLight">

  <h1 class="darkFont margin20" style="font-size: 40px; font-weight: bold;">Add Company</h1>
  <p class="darkFont margin20" style="text-align: center;">Subscription Plans can be added after company is registered</p>


<div class="darkFont margin20">

  <div>
    <h1>Company Name</h1>
  </div>
  <ion-item class="inputB">
    <!-- <ion-label position="floating">Company Name</ion-label> -->
    <ion-input class="fontSize35" type="text" [(ngModel)]="compName" ></ion-input>
  </ion-item>

  <div>
    <h1>Company ID</h1>
  </div>
  <ion-item class="inputB">
    <!-- <ion-label position="floating">Company Name</ion-label> -->
    <ion-input placeholder="e.g. mbb" class="fontSize35" type="text" [(ngModel)]="compId" ></ion-input>
  </ion-item>

  <div>
    <h1>Company Address</h1>
  </div>
  <ion-item  class="rateInput textArea">
    <!-- <ion-label >Address</ion-label> -->
    <ion-textarea lines="rows" rows="10" cols="20" class="divArea fontSize35" [(ngModel)]="compAddress"></ion-textarea>
  </ion-item>

  <div>
    <h1>Contact Number</h1>
  </div>
  <ion-item class="inputB">
    <!-- <ion-label position="floating">Contact Number</ion-label> -->
    <ion-input class="fontSize35" type="text" [(ngModel)]="compNumber" ></ion-input>
  </ion-item>

  <div>
    <h1>Eligible Areas</h1>
  </div>
  <ion-item class="inputB">
    <!-- <ion-label position="floating">Eligible Areas</ion-label> -->
    <ion-input class="fontSize35" type="text" [(ngModel)]="compAreas" ></ion-input>
  </ion-item>

  <div class="wrapper">
    <ion-col><ion-button shape="round" mode="ios" id="saveBtn" (click)="addCompany()">Save</ion-button></ion-col>
  </div>
 
</div>


  
</ion-content>
