.outlineBtn {
    border: 1px solid #216353;
    box-sizing: border-box;
    border-radius: 14px;
    color: #216353;
    --background: ;
    width: 70%;
    height: 35px;
}

.logoutBtn {
    // border: 1px solid #FF7171;
    // box-sizing: border-box;
    border-radius: 14px;
    color: #ffffff;
    --background:#FF7171 ;
    width: 70%;
    height: 35px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.blueBtn {
    border: 1px solid #179BD7;
    box-sizing: border-box;
    color: #179BD7;
    --background: ;
    border-radius: 11px;
    width: 90px;
    height: 26px;
}

.redBox {
    background-color: #FF7171; 
    color: black; 
    border-radius: 27px;
    width: 150px;
    height: 200px;
}

.backBtn{
    --background: ;
    --box-shadow: none;
}

.contentFont{
    font-size: 20px;
    text-align: center;
}

.cancelSubBtn{
    border: 1px solid #FF7171;
    box-sizing: border-box; 
    border-radius: 14px; 
    color: #FF7171;
    --background: ;
    width: 70%;
    height: 35px;
}