.darkCard{
    background-color: #216353;
    border-radius: 20px;
}

.lightCard{
    background-color: #75DAAD;;
    
}

.headerTitle2{
    font-size: 30px;
    color: #216353;
    text-align: left;
}

.cardTitle{
    font-size: 25px;
    color: #EDFFEA;
    font-weight: bold;;
}

.font{
    color: #EDFFEA;
}