<ion-content class="bgLight">

<!-- <ion-header> -->

  <ion-toolbar mode="md" class="bgLight height100">
    <ion-title class="headerTitle">Waste Collection</ion-title>
    <ion-title class="headerTitle2">Companies</ion-title>

    <!-- back button -->
    <ion-buttons slot="start">
      <ion-back-button class="backbtn" defaultHref="homepage"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>

<!-- </ion-header> -->


<!-- <ion-item > -->


<ion-card class="darkCard" *ngFor="let item of items | async">

  <ion-card-header>
    <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    <ion-card-title>{{item.displayName}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    {{item.address}}
  </ion-card-content>

</ion-card>

<!-- </ion-item> -->



<!-- <ion-card class="lightCard">
  
  <ion-card-header>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    <ion-card-title>Card Title</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>

</ion-card>

<ion-card class="darkCard">
  
  <ion-card-header>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    <ion-card-title>Card Title</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>

</ion-card> -->



</ion-content>
