.headerTitle1{
    color: #216353;
    font-size: 40px;
    margin-top: 20px;
    text-align: left;
    font-weight: bold;
}


.headerTitle2{
    font-size: 30px;
    color: #216353;
    text-align: left;
    
}

.itemList{
    border: 1px solid  #75DAAD;
    --background:  #75DAAD;
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    height: 50px;
}

.lightCard{
    background-color: #75DAAD;;
    
}

