#map{
    height: 80%;
    z-index: 0;
}
.mapHeader{
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    // margin-top: 20px;
    // margin-right: 70px;
    margin-right: auto;
    margin-left: auto;
}

.mapBackbtn{
    margin-top: 20px;
}

.sideCard{
    background-color: #216353;
}

// .sideCard:empty{
//     display: none;
// }

.font{
    color: white;
    margin-top: -10px;
}