<ion-content class="bg">
  <p class="title">Login</p>
  <p>Please login/sign-up to continue</p>
  <ion-item class="input">
    <ion-label position="floating">Username</ion-label>
    <ion-input  type="number"></ion-input>
  </ion-item>
  <ion-item class="input">
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>    
  <a style="margin-left: 60%; color:#216353;"><b>Forgot Password?</b></a><br>
  <ion-button expand="block" shape="round" class="btn">Login</ion-button>
  <a style="color:white;">Don't have an account? <b>Sign Up.</b></a>
</ion-content>
