<ion-content class="bgLight">

<!-- <ion-header> -->
  <ion-toolbar mode="md" class="bgLight">

    <ion-title class="headerTitle">Dump Sites &</ion-title>
    <ion-title class="headerTitle2">Recycle Drop-Offs</ion-title>

    <!-- back button -->
    <ion-buttons slot="start">
      <ion-back-button class="backbtn" defaultHref="homepage"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
<!-- </ion-header> -->

<ion-card class="lightCard" href="map">
  <ion-card-header>
    <ion-card-subtitle class="font">Jalan 18, Bandar Seri Begawan BE3319</ion-card-subtitle>
    <ion-card-title class="cardTitle">Tempat Pembuangan Sampah Rimba</ion-card-title>
  </ion-card-header>
</ion-card>

<!-- <ion-card class="lightCard">
  <ion-card-header>
    <ion-card-subtitle>{{ (companies | async)?.displayName}}</ion-card-subtitle>
    <ion-card-title class="cardTitle">{{ (companies | async)?.address}}</ion-card-title>
  </ion-card-header>
</ion-card> -->

<ion-card class="lightCard" href="map">
  <ion-card-header>
    <ion-card-subtitle class="font">Gadong Estate Road, Bandar Seri Begawan</ion-card-subtitle>
    <ion-card-title class="cardTitle">Garbage Dump Gadong</ion-card-title>
  </ion-card-header>
</ion-card>

<ion-card class="lightCard" href="map"> 
  <ion-card-header>
    <ion-card-subtitle class="font">Kampong Sinarubai</ion-card-subtitle>
    <ion-card-title class="cardTitle">Bengkurong Masin Garbage Dump</ion-card-title>
  </ion-card-header>
</ion-card>

</ion-content>
