.height40{
    height: 40px;
}

.lightCard{
    background-color: #75DAAD;
    border-radius: 20px;
    
}

.title{
    font-size: 70px;
    color: #216353;
    margin-top: 1%;
    margin-bottom: 2%;
}

.cardContent{
    color: #ffffff;
    font-size: 22px;
}

.profIcon{
    height: 70px;
    width: 70px;
    color: white;
}
.cardUsername{
    margin-top: 10px;
    margin-left: 10px;
}