<ion-content class="bgLight">

<!-- <ion-header no-border> -->

  <ion-toolbar mode="md" class="bgLight height100">
    
    <ion-title class="headerTitle">Waste Collection</ion-title>
    <ion-title class="headerTitle2">Schedule</ion-title>

    <!-- back button -->
    <ion-buttons slot="start">
      <ion-back-button class="backbtn" defaultHref="homepage"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>

<!-- </ion-header> -->


<ion-searchbar mode="ios" class="searchBar"></ion-searchbar>

  <!-- <ion-card class="darkCard">

    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>

  </ion-card> -->

  <ion-item color="#216353" id="darkGreen" href="">
    <p class="btnText">RKS Syed Mohammad Enterprise</p>
  </ion-item>

  <ion-item color="#216353" id="lightGreen" href="">
    <p class="btnText">Mashhor Cleaning Services Sdn. Bhd.</p>
  </ion-item>

</ion-content>
