.darkCard{
    background-color: #216353;
}

.lightCard{
    background-color: #75DAAD;
    
}

.headerTitle2{
    font-size: 30px;
    color: #216353;
    text-align: left;
    
}

#darkGreen {
    border: 1px solid #216353;
    border-radius: 14px;
    background-color: #216353;
    height: 200px;
    margin-left: 50px;
    margin-bottom: 40px;
}

#lightGreen {
    border: 1px solid  #75DAAD;
    border-radius: 14px;
    background-color:  #75DAAD;
    height: 200px;
    margin-right: 50px;
    margin-bottom: 40px;

}

.btnText{
    font-size: 35px;
}

