.lightCard{
    background-color: #75DAAD;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 40px;
    width: 30%;
    height: 18%;

    
}
.cardTitle{
    font-size: 30px;
    color: #EDFFEA;
    font-weight: bold;;
    text-align: center;
    // margin-bottom: 60px;
}

.hpIcon{
    height: 70px;
    width: 70px;
    // margin: 20px;
    align-content: center;
    display: block;
    margin-left:20px;
    margin-bottom: 10px;
    margin-top: 10px;
    float: left;
}

.headerText{
    float: right;
    margin: 20px;
    margin-top: 30px;
    font-weight: bold;
    background-color: transparent;
    font-size: 15px;
}

.headerText:hover{
    color: #75DAAD 
}

.title{
    color: #216353;
    font-size: 40px;
    text-align: center;
}

.logoutText{
    float: right;
    margin: 20px;
    margin-top: 30px;
    font-weight: bold;
    background-color: transparent;
    font-size: 15px;
}

.logoutText:hover{
    color: #FF7171; 
}

.logoutBtn{
    color: #ffffff;
    --background:#FF7171 ;
    // height: 60px;
    margin-top: 10px;
}