.outlineBtn {
    border: 1px solid #179BD7;
    box-sizing: border-box;
    border-radius: 14px;
    color: #179BD7;
    --background: ;
    width: 70%;
    height: 35px;
}
.fonts80{
    font-size: 70px;
    text-align: center;
    margin-bottom: 20px;
    color: black;
    font-weight: bold;
}

.topDiv {
    border: 1px solid #91D18B;
    border-radius: 30px;
    background-color: #91D18B;
    height: 300px;
    margin-bottom: 60px;
    margin-left: 60px;
    margin-right: 60px;
}

.headerRed{
    --background: #EDFFEA;
}

.fonts30{
    font-size: 20px;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 30%;
    margin-bottom: 50%;
    color: black;

}

.marginL{
    margin-left: 15px;
    margin-right: 15px;
}

.centerAlg{
    margin-left: 60px;
    margin-right: 60px;
}

.margin30{
    margin: 30px;
}

