

<ion-header class="bg" no-border>
  <ion-toolbar  class="bg">

    
  </ion-toolbar>
</ion-header>


<ion-content class="bgLight">

  <br>

  <img class="hpIcon" src="assets/putikLogo.png"/>
  <p class="darkFont" style="text-align: center; font-size: 25px;">Administrator</p>

  <div class="centerDiv">
  <br>
    <ion-item text-center lines="none" color="#216353"  id="darkGreen" routerLink="/admin-comps">
      <p class="btnText fontWhite" >Manage Companies</p>
    </ion-item>
  
    <ion-item lines="none" color="#216353"  id="darkGreen" routerLink="/admin-add-comp">
      <p class="btnText fontWhite">Add New Company</p>
    </ion-item>

  </div>

  <div style="text-align: center;">
    <ion-col><ion-button shape="round" mode="ios" class="backBtn" routerLink="/homepage">Back</ion-button></ion-col>
  </div>

</ion-content>
