<ion-content class="bg">

  <ion-toolbar mode="md" class="bg">
    <ion-buttons slot="start">
      <ion-back-button class="backbtn" defaultHref="homepage"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>

  <p class="title" style="font-size: 40px;">Create an account</p>



  
  <ion-item class="input">
    <ion-label>User Name</ion-label>
    <ion-input [(ngModel)]="value.userName"></ion-input>
  </ion-item>
  <ion-item class="input">
    <ion-label>Address</ion-label>
    <ion-input [(ngModel)]="value.address"></ion-input>
  </ion-item>
  <ion-item class="input">
    <ion-label>Phone Number</ion-label>
    <ion-input [(ngModel)]="value.phoneNo"></ion-input>
  </ion-item>
  <ion-item class="input">
    <ion-label>IC Number</ion-label>
    <ion-input [(ngModel)]="value.icNo"></ion-input>
  </ion-item>

  <br>

  <ion-item class="input">
    <ion-label>Email</ion-label>
    <ion-input type="text" [(ngModel)]="value.email" ></ion-input>
  </ion-item>
  <ion-item class="input">
    <ion-label>Password</ion-label>
    <ion-input type="password" [(ngModel)]="value.password" ></ion-input>
  </ion-item>
  <!-- <ion-item class="input">
    <ion-label>Confirm Password</ion-label>
    <ion-input></ion-input> -->
  <!-- </ion-item> -->



  <ion-button class="btn" expand="block" (click)="signup(value)">Signup</ion-button>
  <br><a style="color: white;">Already have an account? <a lines="none" style="color:white" href="/login"><b>Login.</b></a></a>
</ion-content>  
