<ion-content class="bg">
  <p class="title" style="font-size: 40px;">Create an account</p>

  <ion-item class="input">
    <ion-label>User Name</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item class="input">
    <ion-label>Address</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item class="input">
    <ion-label>Phone Number</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item class="input">
    <ion-label>IC Number</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <br>

  <ion-item class="input">
    <ion-label>Email</ion-label>
    <ion-input type="text" [(ngModel)]="user.email" ></ion-input>
  </ion-item>
  <ion-item class="input">
    <ion-label>Password</ion-label>
    <ion-input type="password" [(ngModel)]="user.password" ></ion-input>
  </ion-item>
  <ion-item class="input">
    <ion-label>Confirm Password</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-button class="btn" expand="block" (click)="signup(user)">Signup</ion-button>
  <br><a style="color: white;">Already have an account? <b>Login.</b></a>
</ion-content>  
