/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.bg {
    --background: #75DAAD;
}

.bgLight{
    --background: #EDFFEA;
}

.title {
    
    margin-left: 23px;

    font-size: 72px;
    line-height: 84px;
}

.input {
    --background: #75DAAD;
    --color: #216353;
}

.btn {
    border: 1px solid #216353;
    box-sizing: border-box;
    border-radius: 14px;
    color: #216353;
    --background: ;
    --box-shadow: none;
    width: 45%;
    margin-left: 5%;
}

.btn2 {
    border: 1px solid #216353;
    box-sizing: border-box;
    border-radius: 14px;
    color: #216353;
    --background: ;
    --box-shadow: none;
    width: 45%;
    
    
}

.headerTitle{
    color: #216353;
    font-size: 30px;
    margin-top: 20px;
    text-align: left;
   
}

.height100{
    height: 100px;
    border-radius: 14px;
    --box-shadow: none;

}

.backbtn{
    color: #216353;
}

.searchBar{
    border: 1px solid #216353;
    --background: ;
    color: #216353;
    border-radius: 30px;
    width: 90%;
    height: 40px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.pGreen{
    color: #216353;
}

#avatar {
    font-size: 100px;
}

#rate {
    color: #f1c40f;
    font-size: 40px;
}

#rateBox {
    width: 55px;
    height: 55px;
    border-radius: 50px;
    background-color: #216353;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

#backbtn {
    --background: none;
    font-size: 24px;
}

.darkFont {
    color: #216353;
}

.card {
    background-color: #EDFFEA;
    padding: 20px;
    width: 100%;
    height: auto;
    border-radius: 60px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.inline {
    display: inline-block;
}

.fontWhite{
    color: white;
}



